body {
  background-color: #f5f5f5;
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  max-width: 31rem;
  padding: 4rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem;
}

p {
  font-size: 1.2rem;
  margin: 1rem;
}

button {
  height: 8rem;
  width: 8rem;
  font-size: 4rem;
  vertical-align: top;
}

.winner {
  font-size: 3rem;
  color: red;
}
